<body class="m-0 p-0 bg-gray-200 text-white">

  <!-- Primary Page Layout

  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <h1 class="text-gray-800 text-center text-3xl">{{job.title}}</h1>
  <br>
  <div class="container text-gray-800 lg:max-w-2xl max-w-xl bg-gray-100 mx-auto rounded-sm mb-16">

    <div class="flex flex-col flex-wrap items-center content-center">

      <div class="px-8 mt-2 rounded">
        <img src="{{job.logo}}" alt="{{job.company}}'s logo" />
      </div>
      <br>

      <div class="job__desc leading-normal pl-2">
        <h3 class="text-center font-semibold text-2xl italic">Job Description:</h3>
        <p class="pl-1 mt-4">
        {{{job.description}}}
        </p>

        <h3 class="mt-6">Information about Our Company: {{job.company}}</h3>
        {{{job.about}}}
      </div>

      <!-- <a href="{{job.href}}"> -->
      <a href="/job/{{job.jobID}}/apply" target="_new" rel="nofollow" class="bg-red-500 hover:bg-red-600 text-gray-900 hover:text-gray-100 shadow-lg font-bold py-2 px-8 mb-6 rounded-full">
          Apply
      </a>

    </div>
  </div>
</body>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
