<div class="jobcard bg-gray-200 items-center flex my-2 sm:flex-wrap flex-nowrap justify-between border-indigo-500 rounded shadow-lg">

  <div class="flex md:max-w-md max-w-sm min-w-1/4 lg:min-w-1/2">

    <div class="flex-shrink-0 pl-2 align-middle my-auto">
      <a href="/job/{{this.jobID}}">
        {{#if this.logo}}
          <img class="h-16 w-16 m-auto mr-4 rounded" src="{{this.logo}}" alt="{{this.company}}">
        {{else}}
          <p class="font-thin text-3xl text-gray-600 text-center align-bottom rounded bg-gray-400 h-16 w-16 mr-4 pt-2 opacity-50 italic">
          {{#logoLetter this.company}}
          </p>
          {{/logoLetter}}
        {{/if}}
      </a>
    </div>

    <!-- Company name, Job Title, Location -->
    <div class="flex items-start flex-col h-auto sm:justify-around justify-start min-w-10 max-w-md my-2">
      <a href="/job/{{this.jobID}}">
        <h4 class="text-indigo-500 font-semibold sm:text-base text-sm leading-snug max-w-sm">{{this.title}}</h4>
      </a>
      <a href="/job/{{this.jobID}}">
        <h5 class="text-gray-700 font-normal text-md">{{this.company}} <br>
          <span class="text-sm text-gray-800 italic font-light tracking-wide min-w-lg mt-4">
            {{#if this.stack}}
            {{#showStack this.stack}}
            {{/showStack}}
            {{/if}}
          </span>
        </h5>
      </a>
    </div>

  </div>

  <!--  -->

  <!-- <span class="sm:hidden text&#45;gray&#45;900"> | </span> -->
  <div class="flex flex-row align-center w-1/4">

    <p class="sm:mr-6 mr-2 w-1/2 text-gray-600 md:text-base text-sm">
      {{this.location}}
    </p>

    <div class="h-1/2 rounded cursor-default w-1/2 max-w-min mx-auto">
      <button class="rounded text-gray-100 font-normal">
        <img class="md:w-12 md:h-12 w-8 h-8 text-gray-100 shadow-lg mx-auto block" src="/img/icons/{{this.src}}.svg" alt="Source Company Icon">

        <p class="text-gray-600 mx-auto md:text-base sm:text-sm sm:font-normal font-thin">
          {{#timeAgo this.joinDate}}
          {{/timeAgo}}
        </p>
      </button>
    </div>

  </div>


</div>
